In [1]:
#import libraries

import pandas as pd
import numpy as np

In [2]:
#load data
eng_properties = pd.read_csv("Data/all_properties.csv") #price paid of properties in england
all_postcodes = pd.read_csv("Data/NSPL_FEB_2022_UK.csv") #postcodes and their corresponding local authority codes
all_LA = pd.read_csv("Data/LA_UA_name_and_codes_UK_as_at_04_21.csv") #local authority codes and names

output_summary = "Data/eng_properties_summary.csv"
output_details = "Data/eng_properties_details.csv"

C:\Users\dorot\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (31,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
eng_properties.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri
0,CFC9085C-4A0B-9A70-E053-6B04A8C09D6A,393000,2021-05-24,EN5 1JQ,F,N,L,1,"LYONSDOWN COURT, 41",LYONSDOWN ROAD,NEW BARNET,BARNET,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
1,CB0035E5-7E47-58AE-E053-6B04A8C091AF,740000,2021-04-27,LU1 4AD,D,N,F,NaN,MANOR FARM HOUSE,LUTON ROAD,CADDINGTON,LUTON,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
2,D707E534-BFF1-0AD9-E053-6B04A8C067CC,270000,2021-06-30,LU1 4AF,T,N,F,NaN,21,LUTON ROAD,CADDINGTON,LUTON,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
3,C18F412A-7B87-81A6-E053-6B04A8C0AD18,325000,2021-02-25,LU1 4AL,S,N,F,NaN,5,DUNSTABLE ROAD,CADDINGTON,LUTON,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
4,CFC9085C-4795-9A70-E053-6B04A8C09D6A,470000,2021-06-25,LU1 4AL,D,N,F,NaN,29,DUNSTABLE ROAD,CADDINGTON,LUTON,CENTRAL BEDFORDSHIRE,CENTRAL BEDFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...

In [4]:
eng_properties.shape

(669322, 16)

In [5]:
all_postcodes.head()

,pcd,pcd2,pcds,dointr,doterm,usertype,oseast1m,osnrth1m,osgrdind,oa11,...,ru11ind,oac11,lat,long,lep1,lep2,pfa,imd,calncv,stp
0,AB1 0AA,AB1 0AA,AB1 0AA,198001,199606.0,0,385386.0,801193.0,1,S00090303,...,3.0,1C3,57.101474,-2.242851,S99999999,S99999999,S23000009,6715,S99999999,S99999999
1,AB1 0AB,AB1 0AB,AB1 0AB,198001,199606.0,0,385177.0,801314.0,1,S00090303,...,3.0,1C3,57.102554,-2.246308,S99999999,S99999999,S23000009,6715,S99999999,S99999999
2,AB1 0AD,AB1 0AD,AB1 0AD,198001,199606.0,0,385053.0,801092.0,1,S00090399,...,3.0,6A1,57.100556,-2.248342,S99999999,S99999999,S23000009,6715,S99999999,S99999999
3,AB1 0AE,AB1 0AE,AB1 0AE,199402,199606.0,0,384600.0,799300.0,8,S00091322,...,6.0,1A2,57.084444,-2.255708,S99999999,S99999999,S23000009,5069,S99999999,S99999999
4,AB1 0AF,AB1 0AF,AB1 0AF,199012,199207.0,1,384460.0,800660.0,8,S00090299,...,3.0,6A4,57.096656,-2.258102,S99999999,S99999999,S23000009,6253,S99999999,S99999999

In [6]:
all_LA.head()

     LAD21CD               LAD21NM LAD21NMW
0  E06000001            Hartlepool      NaN
1  E06000002         Middlesbrough      NaN
2  E06000003  Redcar and Cleveland      NaN
3  E06000004      Stockton-on-Tees      NaN
4  E06000005            Darlington      NaN

In [7]:
#Check if unique_id is really unique
pd.Series(eng_properties['unique_id']).is_unique

False

In [8]:
#Check if any duplicated records
duplicateRowsDF = eng_properties[eng_properties.duplicated(keep=False)]
print(duplicateRowsDF)

Empty DataFrame
Columns: [unique_id, price_paid, deed_date, postcode, property_type, new_build, estate_type, saon, paon, street, locality, town, district, county, transaction_category, linked_data_uri]
Index: []

### Funny that the unique_id isn't unique, but there is no duplicated records. Check further to see how unique_id is duplicated.

In [9]:
duplicateKeysDF = eng_properties[eng_properties['unique_id'].duplicated(keep=False)]
print(duplicateKeysDF.sort_values(by=['unique_id']))

                                   unique_id  price_paid   deed_date  \
93169   C6209F5F-0C1C-295E-E053-6C04A8C0DDCC     1425000  2021-03-19
93170   C6209F5F-0C1C-295E-E053-6C04A8C0DDCC     1425000  2021-03-19
149652  D22473F5-4F9C-7B40-E053-6C04A8C0A630      105000  2021-09-09
149673  D22473F5-4F9C-7B40-E053-6C04A8C0A630      105000  2021-09-09
258583  D22473F5-A423-7B40-E053-6C04A8C0A630      123500  2021-07-27
258590  D22473F5-A423-7B40-E053-6C04A8C0A630      123500  2021-07-27
467417  D22473F5-DAE4-7B40-E053-6C04A8C0A630      565000  2021-08-31
467418  D22473F5-DAE4-7B40-E053-6C04A8C0A630      565000  2021-08-31
297084  D22473F6-7F49-7B40-E053-6C04A8C0A630     3075000  2021-08-31
297085  D22473F6-7F49-7B40-E053-6C04A8C0A630     3075000  2021-08-31
454137  D4D42646-0B4A-27F6-E053-6C04A8C0A572      713500  2021-12-03
454138  D4D42646-0B4A-27F6-E053-6C04A8C0A572      713500  2021-12-03
645426  D4D42646-DFE8-27F6-E053-6C04A8C0A572       63900  2021-11-26
645520  D4D42646-DFE8-27F6-E053-6C04A8C0A572       63900  2021-11-26
645448  D4D42646-DFF2-27F6-E053-6C04A8C0A572       64800  2021-11-26
645512  D4D42646-DFF2-27F6-E053-6C04A8C0A572       64800  2021-11-26
645430  D4D42646-DFFD-27F6-E053-6C04A8C0A572       47695  2021-11-26
645511  D4D42646-DFFD-27F6-E053-6C04A8C0A572       47695  2021-11-26
645490  D4D42646-DFFF-27F6-E053-6C04A8C0A572       67495  2021-11-26
645514  D4D42646-DFFF-27F6-E053-6C04A8C0A572       67495  2021-11-26
645519  D4D42646-E008-27F6-E053-6C04A8C0A572       47695  2021-11-26
645424  D4D42646-E008-27F6-E053-6C04A8C0A572       47695  2021-11-26
645509  D4D42646-E00A-27F6-E053-6C04A8C0A572       47695  2021-11-26
645515  D4D42646-E00A-27F6-E053-6C04A8C0A572       47695  2021-11-26
645463  D4D42646-E00C-27F6-E053-6C04A8C0A572       47695  2021-11-26
645513  D4D42646-E00C-27F6-E053-6C04A8C0A572       47695  2021-11-26

        postcode property_type new_build estate_type                 saon  \
93169    TQ7 3QB             D         N           F                  NaN
93170    TQ7 3QB             D         N           F                  NaN
149652  GL51 8NJ             F         N           L  FLAT S1 QUEENS GATE
149673  GL51 8QA             F         N           L               FLAT 6
258583   M32 8AE             F         Y           L          APARTMENT 9
258590   M32 8AE             F         Y           L          APARTMENT 9
467417  OX11 0DX             D         N           F                  NaN
467418  OX11 0EA             D         N           F                  NaN
297084  SO31 7PT             O         N           F                  NaN
297085  SO31 7PT             O         N           F                  NaN
454137  NE66 5RA             D         N           F                  NaN
454138  NE66 5RA             D         N           F                  NaN
645426   LS7 1AW             F         N           L             FLAT 220
645520   LS7 1NJ             F         N           L             UNIT 220
645448   LS7 1AW             O         N           L             FLAT 321
645512   LS7 1AW             O         N           L             UNIT 321
645430   LS7 1AW             F         N           L             FLAT 302
645511   LS7 1AW             F         N           L             UNIT 302
645490   LS7 1AW             O         N           L             FLAT 708
645514   LS7 1AW             O         N           L             UNIT 708
645519   LS7 1NJ             F         N           L             UNIT 217
645424   LS7 1AW             F         N           L             FLAT 217
645509   LS7 1AW             F         N           L             FLAT 810
645515   LS7 1AW             F         N           L             UNIT 810
645463   LS7 1AW             F         N           L             FLAT 522
645513   LS7 1AW             F         N           L             UNIT 522

                    paon           street         locality         town  \
93169         SOUTHFIELD     LOWER STREET   WEST ALVINGTON  KINGSBRIDGE
93170       THE BUNGALOW     LOWER STREET   WEST ALVINGTON  KINGSBRIDGE
149652               237  GLOUCESTER ROAD              NaN   CHELTENHAM
149673       QUEENS GATE  GLOUCESTER ROAD              NaN   CHELTENHAM
258583      THE BANK, 20      KING STREET        STRETFORD   MANCHESTER
258590               20A      KING STREET        STRETFORD   MANCHESTER
467417       THE COTTAGE         TOWNSEND          HARWELL       DIDCOT
467418       THE COTTAGE      BARROW LANE          HARWELL       DIDCOT
297084  COLDEAST MANSION   COLDEAST DRIVE  SARISBURY GREEN  SOUTHAMPTON
297085       THE MANSION   COLDEAST DRIVE  SARISBURY GREEN  SOUTHAMPTON
454137      CHATTON MILL              NaN          CHATTON      ALNWICK
454138        MILL HOUSE              NaN          CHATTON      ALNWICK
645426     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645520     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645448     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645512     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645430     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645511     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645490     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645514     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645519     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645424     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645509     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645515     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645463     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS
645513     ASQUITH HOUSE      SERVIA ROAD              NaN        LEEDS

                   district              county transaction_category  \
93169            SOUTH HAMS               DEVON                    A
93170            SOUTH HAMS               DEVON                    A
149652           CHELTENHAM     GLOUCESTERSHIRE                    A
149673           CHELTENHAM     GLOUCESTERSHIRE                    A
258583             TRAFFORD  GREATER MANCHESTER                    A
258590             TRAFFORD  GREATER MANCHESTER                    A
467417  VALE OF WHITE HORSE         OXFORDSHIRE                    A
467418  VALE OF WHITE HORSE         OXFORDSHIRE                    A
297084              FAREHAM           HAMPSHIRE                    B
297085              FAREHAM           HAMPSHIRE                    B
454137       NORTHUMBERLAND      NORTHUMBERLAND                    A
454138       NORTHUMBERLAND      NORTHUMBERLAND                    A
645426                LEEDS      WEST YORKSHIRE                    B
645520                LEEDS      WEST YORKSHIRE                    B
645448                LEEDS      WEST YORKSHIRE                    B
645512                LEEDS      WEST YORKSHIRE                    B
645430                LEEDS      WEST YORKSHIRE                    B
645511                LEEDS      WEST YORKSHIRE                    B
645490                LEEDS      WEST YORKSHIRE                    B
645514                LEEDS      WEST YORKSHIRE                    B
645519                LEEDS      WEST YORKSHIRE                    B
645424                LEEDS      WEST YORKSHIRE                    B
645509                LEEDS      WEST YORKSHIRE                    B
645515                LEEDS      WEST YORKSHIRE                    B
645463                LEEDS      WEST YORKSHIRE                    B
645513                LEEDS      WEST YORKSHIRE                    B

                                          linked_data_uri
93169   http://landregistry.data.gov.uk/data/ppi/trans...
93170   http://landregistry.data.gov.uk/data/ppi/trans...
149652  http://landregistry.data.gov.uk/data/ppi/trans...
149673  http://landregistry.data.gov.uk/data/ppi/trans...
258583  http://landregistry.data.gov.uk/data/ppi/trans...
258590  http://landregistry.data.gov.uk/data/ppi/trans...
467417  http://landregistry.data.gov.uk/data/ppi/trans...
467418  http://landregistry.data.gov.uk/data/ppi/trans...
297084  http://landregistry.data.gov.uk/data/ppi/trans...
297085  http://landregistry.data.gov.uk/data/ppi/trans...
454137  http://landregistry.data.gov.uk/data/ppi/trans...
454138  http://landregistry.data.gov.uk/data/ppi/trans...
645426  http://landregistry.data.gov.uk/data/ppi/trans...
645520  http://landregistry.data.gov.uk/data/ppi/trans...
645448  http://landregistry.data.gov.uk/data/ppi/trans...
645512  http://landregistry.data.gov.uk/data/ppi/trans...
645430  http://landregistry.data.gov.uk/data/ppi/trans...
645511  http://landregistry.data.gov.uk/data/ppi/trans...
645490  http://landregistry.data.gov.uk/data/ppi/trans...
645514  http://landregistry.data.gov.uk/data/ppi/trans...
645519  http://landregistry.data.gov.uk/data/ppi/trans...
645424  http://landregistry.data.gov.uk/data/ppi/trans...
645509  http://landregistry.data.gov.uk/data/ppi/trans...
645515  http://landregistry.data.gov.uk/data/ppi/trans...
645463  http://landregistry.data.gov.uk/data/ppi/trans...
645513  http://landregistry.data.gov.uk/data/ppi/trans...

### Records with duplicated unique_id have difference on detailed address only, which would not have impact on the following analysis. We'll keep the first record and remove the duplicated ones after that.

In [10]:
#remove duplicated records
eng_properties_unique = eng_properties.drop_duplicates(subset=['unique_id'], keep='first')

In [11]:
#get the shape of eng_properties_unique
eng_properties_unique.shape

(669309, 16)

In [12]:
#Check if unique_id is really unique
pd.Series(eng_properties_unique['unique_id']).is_unique

True

### Now all records are unique and we will check if there are any columns with null values.

In [13]:
#Get columns names with null values
eng_properties_unique.columns[eng_properties_unique.isna().any()].tolist()

['postcode', 'saon', 'street', 'locality']

In [43]:
#Get number of records without postcode
eng_properties_unique[eng_properties_unique['postcode'].isna()].shape

(2084, 16)

### We need postcode to get the local authority name, but this can also be got by district. So we'll simply ignore the situation first.

In [14]:
#add a new columns postcode_outward and postcode_inward by spliting postcode
eng_properties_final = eng_properties_unique.copy()
eng_properties_final[['postcode_outward', 'postcode_inward']] = eng_properties_unique['postcode'].str.split(' ', expand=True)

### We've finished cleaning and transforming the housing data, and will proceed to join eng_properties_final, all_postcodes and all_LA. 
### eng_properties_final and all_postcodes will be joined by postcode, then they'll be joined with all_LA with laua.

In [15]:
#copy only columns we need from all_postcodes
all_postcodes_trimmed = all_postcodes[['doterm','pcd','pcd2','pcds','laua','lat','long']].copy()

In [16]:
#join eng_properties_final and all_postcodes
merge1 = pd.merge(eng_properties_final, all_postcodes_trimmed,
                  left_on='postcode',
                  right_on='pcd',
                  how='inner')
merge2 = pd.merge(eng_properties_final, all_postcodes_trimmed,
                  left_on='postcode',
                  right_on='pcd2',
                  how='inner')

#left join is used to get records with undefined postcodes
merge3 = pd.merge(eng_properties_final, all_postcodes_trimmed,
                  left_on='postcode',
                  right_on='pcds',
                  how='left')

prop_post = pd.concat([merge1,merge2,merge3])

In [17]:
#remove duplicated records 
prop_post = prop_post.drop_duplicates(subset=['unique_id'], keep='first')

### Verify if we still have the same number of records before merging.

In [18]:
#get shape of prop_post which is a result of joining eng_properties and all_postcodes
prop_post.shape

(669309, 25)

In [19]:
#join prop_post and all_LA
all_records = pd.merge(prop_post, all_LA,
                  left_on='laua',
                  right_on='LAD21CD',
                  how='left')

### As mentioned above, some postcodes are absent in the properties records. We'll have to get the local authority codes and names by districts. First we'll get a list records with null laua and then verify if we can use districts as local authority names instead.

In [20]:
#check any null laua in all_records
unmatched = all_records[all_records['laua'].isnull()]
all_records['LAD21NM']. fillna(all_records['district'], inplace=True)
all_records[all_records['laua'].isnull()]

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,...,doterm,pcd,pcd2,pcds,laua,lat,long,LAD21CD,LAD21NM,LAD21NMW
647174,BEF7EBBF-92D8-7A76-E053-6B04A8C092F7,451000,2021-01-29,NaN,O,N,F,"PLOTS 56-64, PHASE 2",WHITE HORSE FIELD,HIGH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRAL BEDFORDSHIRE,NaN
647175,CB0035E6-7470-58AE-E053-6B04A8C091AF,7800,2021-03-08,NaN,O,N,F,NaN,PLOT 29,GREAT LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRAL BEDFORDSHIRE,NaN
647176,D22473F6-6E1F-7B40-E053-6C04A8C0A630,7800,2021-08-20,NaN,O,N,F,NaN,PLOT 41,GREAT LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRAL BEDFORDSHIRE,NaN
647177,D707E536-6047-0AD9-E053-6B04A8C067CC,7500,2021-08-27,NaN,O,N,F,NaN,PLOT 46,GREAT LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRAL BEDFORDSHIRE,NaN
647178,D707E536-6048-0AD9-E053-6B04A8C067CC,7500,2021-08-27,NaN,O,N,F,NaN,PLOT 48,GREAT LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CENTRAL BEDFORDSHIRE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669304,C18F412B-BBA0-81A6-E053-6B04A8C0AD18,6588845,2021-03-26,NaN,O,N,F,NaN,VICTORIA SPORTS GROUND,SPENNELLS VALLEY ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYRE FOREST,NaN
669305,C3C3F9B6-C2F8-362B-E053-6B04A8C03ACC,302411,2021-04-01,NaN,O,N,L,PLOTS 347-352,LEA CASTLE HOSPITAL DEVELOPMENT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYRE FOREST,NaN
669306,C8A3A577-06F0-0425-E053-6C04A8C0947B,229334,2021-05-13,NaN,O,N,L,"PLOTS 509-512, 526 AND 538",LEA CASTLE HOSPITAL DEVELOPMENT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYRE FOREST,NaN
669307,C3C3F9B6-C2F9-362B-E053-6B04A8C03ACC,237477,2021-04-23,NaN,O,N,L,PLOTS 514-520,LEA CASTLE HOSPITAL DEVELOPMENT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYRE FOREST,NaN
669308,C3C3F9B6-C2F7-362B-E053-6B04A8C03ACC,302411,2021-04-01,NaN,O,N,L,"PLOTS 563-568, 571 AND 572",LEA CASTLE HOSPITAL DEVELOPMENT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WYRE FOREST,NaN

In [21]:
#check if all districts are in all_LA
unmatched['district_lower'] = unmatched['district'].str.lower()
all_LA['LAD21NM_lower'] = all_LA['LAD21NM'].str.lower()
merge5 = pd.merge(unmatched,all_LA, 
                  left_on ='district_lower', 
                  right_on='LAD21NM_lower', 
                  how='left')
merge5[merge5['LAD21NM_lower'].isnull()]['district'].unique()

C:\Users\dorot\AppData\Local\Temp/ipykernel_7956/665727722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched['district_lower'] = unmatched['district'].str.lower()

array(['CITY OF BRISTOL', 'CITY OF WESTMINSTER', 'HEREFORDSHIRE',
       'ST HELENS', 'EAST NORTHAMPTONSHIRE'], dtype=object)

### 5 districts in unmatched cannot be found in all_LA, change them accordingly to align:
CITY OF BRISTOL = Bristol, City of

CITY OF WESTMINSTER = Westminster

HEREFORDSHIRE = Herefordshire, County of

ST HELENS = St. Helens

EAST NORTHAMPTONSHIRE = North Northamptonshire

In [22]:
#dictionary for matching districts to local authority names
district_dict = {'CITY OF BRISTOL' : 'Bristol, City of',
                 'CITY OF WESTMINSTER' : 'Westminster',
                 'HEREFORDSHIRE' : 'Herefordshire, County of',
                 'ST HELENS' : 'St. Helens',
                 'EAST NORTHAMPTONSHIRE' : 'North Northamptonshire'
                }

#update districts according to the dictionary
for key in district_dict: unmatched.loc[unmatched['district'] == key] = district_dict[key]

C:\Users\dorot\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

### Get LAD21CD and LAD21NM of records with undefined postcodes

In [23]:
#convert LAD21NM to lower case
all_LA['LAD21NM_lower'] = all_LA['LAD21NM'].map(lambda x: x.lower())

#loop the unmatched records and fill in LAD21CD and LAD21NM by checking all_LA
unmatched.reset_index()
for index,row in unmatched.iterrows():
  district_lower = row['district'].lower()
  LA_code = all_LA.loc[all_LA['LAD21NM_lower']==district_lower]['LAD21CD']
  LA_name = all_LA.loc[all_LA['LAD21NM_lower']==district_lower]['LAD21NM']
  all_records.at[index,'LAD21CD'] = LA_code.astype('string').item()
  all_records.at[index,'LAD21NM'] = LA_name.astype('string').item()

In [24]:
#check if any LAD21CD and LAD21NM not in all_LA
merge4 = pd.merge(all_records, all_LA,
                  left_on=['LAD21CD','LAD21NM'],
                  right_on=['LAD21CD','LAD21NM'],
                  how='left')
merge4[merge4['LAD21CD'].isnull() & merge4['doterm'].isnull() & merge4['doterm']==""]

Empty DataFrame
Columns: [unique_id, price_paid, deed_date, postcode, property_type, new_build, estate_type, saon, paon, street, locality, town, district, county, transaction_category, linked_data_uri, postcode_outward, postcode_inward, doterm, pcd, pcd2, pcds, laua, lat, long, LAD21CD, LAD21NM, LAD21NMW_x, LAD21NMW_y, LAD21NM_lower]
Index: []

[0 rows x 30 columns]

Check the number of records after merging, and then check the unique values of a few columns to see any abnormalities.

In [25]:
#get shape of all_records
all_records.shape

(669309, 28)

In [26]:
all_records['property_type'].unique()

array(['F', 'D', 'T', 'S', 'O'], dtype=object)

In [27]:
all_records['new_build'].unique()

array(['N', 'Y'], dtype=object)

In [28]:
all_records['estate_type'].unique()

array(['L', 'F'], dtype=object)

In [29]:
all_records['transaction_category'].unique()

array(['A', 'B'], dtype=object)

Since 'transaction_category' = B means non standard price paid entry, which is irrevelant in this analysis, we'll remove them.

In [30]:
#Get number of records of each transaction_category
all_records['transaction_category'].value_counts()

A    577511
B     91798
Name: transaction_category, dtype: int64

In [31]:
#Drop records with transaction_category == "B"
all_records = all_records[all_records.transaction_category != "B"]
all_records.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,...,doterm,pcd,pcd2,pcds,laua,lat,long,LAD21CD,LAD21NM,LAD21NMW
0,CFC9085C-4A0B-9A70-E053-6B04A8C09D6A,393000,2021-05-24,EN5 1JQ,F,N,L,1,"LYONSDOWN COURT, 41",LYONSDOWN ROAD,...,NaN,EN5 1JQ,EN5 1JQ,EN5 1JQ,E09000003,51.645730,-0.176743,E09000003,Barnet,NaN
1,CD5A9DCB-7ADE-310A-E053-6C04A8C00A1F,260000,2021-04-09,EN5 1JQ,F,N,L,11,"LYONSDOWN COURT, 41",LYONSDOWN ROAD,...,NaN,EN5 1JQ,EN5 1JQ,EN5 1JQ,E09000003,51.645730,-0.176743,E09000003,Barnet,NaN
2,CB0035E5-7E47-58AE-E053-6B04A8C091AF,740000,2021-04-27,LU1 4AD,D,N,F,NaN,MANOR FARM HOUSE,LUTON ROAD,...,NaN,LU1 4AD,LU1 4AD,LU1 4AD,E06000056,51.868461,-0.452248,E06000056,Central Bedfordshire,NaN
3,D707E534-BFF1-0AD9-E053-6B04A8C067CC,270000,2021-06-30,LU1 4AF,T,N,F,NaN,21,LUTON ROAD,...,NaN,LU1 4AF,LU1 4AF,LU1 4AF,E06000056,51.866784,-0.454644,E06000056,Central Bedfordshire,NaN
4,C18F412A-7B87-81A6-E053-6B04A8C0AD18,325000,2021-02-25,LU1 4AL,S,N,F,NaN,5,DUNSTABLE ROAD,...,NaN,LU1 4AL,LU1 4AL,LU1 4AL,E06000056,51.864613,-0.459850,E06000056,Central Bedfordshire,NaN

To minimize file size, we'll drop unnecessary columns

In [32]:
#Drop unnecessary columns
all_records = all_records.drop(columns = ['saon','paon','street','locality','town','district','county','transaction_category','linked_data_uri','doterm','pcd','pcd2','pcds','LAD21NMW'])

In [33]:
all_records[all_records['LAD21NM'].isnull()]

Empty DataFrame
Columns: [unique_id, price_paid, deed_date, postcode, property_type, new_build, estate_type, postcode_outward, postcode_inward, laua, lat, long, LAD21CD, LAD21NM]
Index: []

In [34]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
all_records["price_paid"].describe()

count      577511.000
mean       368291.096
std        488181.739
min           355.000
25%        187000.000
50%        286500.000
75%        435000.000
max     210000000.000
Name: price_paid, dtype: float64

In [35]:
# 25th Percentile
def q25(x):
    return x.quantile(0.25)

# 75th Percentile
def q75(x):
    return x.quantile(0.75)

# 90th Percentile
def q90(x):
    return x.quantile(0.9)

In [36]:
#eng_properties_summary = pd.DataFrame(eng_properties_final.groupby(['postcode_outward','estate_type','property_type','new_build'])
                                      #.agg({'price_paid': ['count','mean', 'min', 'max', 'median','std',q25,q75,q90]}))
eng_properties_summary = pd.DataFrame(all_records.groupby(['postcode_outward','estate_type','property_type','new_build'])
                                      .agg(properties_count = ('postcode_outward','count'),
                                           price_mean = ('price_paid','mean'),
                                           price_min = ('price_paid','min'),
                                           price_max = ('price_paid','max'),
                                           price_median = ('price_paid','median'),
                                           price_std = ('price_paid','std'),
                                           price_q25 = ('price_paid',q25),
                                           price_q75 = ('price_paid',q75),
                                           price_q90 = ('price_paid',q90),
                                          ))

In [37]:
eng_properties_summary.to_csv(output_summary)
all_records.to_csv(output_details)

In [40]:
all_records["deed_date"].max()

'2022-01-26'